@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.plantMetric {
  display: flex;
  gap: 0.75rem;
  padding: 0.75rem 2rem 0.75rem 0.75rem;
  width: fit-content;
  background-color: var(--color-gray-50);
  border-radius: 2rem;
}
.icon {
  @include font-size-large;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--color-gray);
  background-color: var(--color-white);
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-green-400);
  @include boxshadow;
}
.titleContainer {
  @include font-size-small;
}
.title {
  font-weight: $font-weight-900;
  color: var(--color-gray-700);
}
.subtitle {
  color: var(--color-gray-400);
}
