@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.formItem {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.title {
  @include font-size-default;
  font-weight: $font-weight-700;
  color: var(--color-gray-700);
}
.subtitle {
  display: flex;
  gap: 0.25rem;
  @include font-size-small;
}
.info {
  color: var(--color-gray-400);
}
.error {
  color: var(--color-red-400);
}
