@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.plantCard {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  cursor: pointer;
  border: 1px solid transparent;

  &:hover {
    .overlay {
      @include boxshadow;
    }
    .controls {
      opacity: 1;
    }
  }
}
.overlay {
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: 0;
  border-radius: 1rem;
  height: 80%;
  width: 100%;
  transition: box-shadow linear $default-animation-duration;
}
.image {
  object-fit: cover;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.titleContainer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  padding-inline: 1rem;
}
.title {
  @include font-size-large;
  font-weight: $font-weight-900;
  color: var(--color-gray-700);
}
.subtitle {
  @include font-size-default;
  font-weight: $font-weight-300;
}
.date {
  @include font-size-small;
  font-style: italic;
}
.metrics {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  position: relative;
  padding: 1rem;
  z-index: 1;
}
.controls {
  position: relative;
  z-index: 2;
  display: flex;
  gap: 0.75rem;
  opacity: 0.2;
  border-bottom-left-radius: 0.875rem;
  border-bottom-right-radius: 0.875rem;
  padding: 1rem;
  transition: opacity linear $default-animation-duration;
}

// colorVariant
.primary {
  .overlay {
    background-color: var(--color-indigo-100);
  }
  .subtitle {
    color: var(--color-indigo-900);
  }
  .date {
    color: var(--color-indigo-700);
  }
  .controls {
    background-color: var(--color-indigo-200);
  }
}
.secondary {
  .overlay {
    background-color: var(--color-teal-100);
  }
  .subtitle {
    color: var(--color-teal-900);
  }
  .date {
    color: var(--color-teal-700);
  }
  .controls {
    background-color: var(--color-teal-200);
  }
}
.success {
  .overlay {
    background-color: var(--color-green-100);
  }
  .subtitle {
    color: var(--color-green-900);
  }
  .date {
    color: var(--color-green-700);
  }
  .controls {
    background-color: var(--color-green-200);
  }
}
.warning {
  .overlay {
    background-color: var(--color-yellow-100);
  }
  .subtitle {
    color: var(--color-yellow-900);
  }
  .date {
    color: var(--color-yellow-700);
  }
  .controls {
    background-color: var(--color-yellow-200);
  }
}
.danger {
  .overlay {
    background-color: var(--color-red-100);
  }
  .subtitle {
    color: var(--color-red-900);
  }
  .date {
    color: var(--color-red-700);
  }
  .controls {
    background-color: var(--color-red-200);
  }
}
.light {
  .overlay {
    background-color: var(--color-gray-100);
  }
  .subtitle {
    color: var(--color-gray-900);
  }
  .date {
    color: var(--color-gray-700);
  }
  .controls {
    background-color: var(--color-gray-200);
  }
}
.dark {
  .overlay {
    background-color: var(--color-dark-100);
  }
  .subtitle {
    color: var(--color-dark-900);
  }
  .date {
    color: var(--color-dark-700);
  }
  .controls {
    background-color: var(--color-dark-200);
  }
}
.pink {
  .overlay {
    background-color: var(--color-pink-100);
  }
  .subtitle {
    color: var(--color-pink-900);
  }
  .date {
    color: var(--color-pink-700);
  }
  .controls {
    background-color: var(--color-pink-200);
  }
}
.orange {
  .overlay {
    background-color: var(--color-orange-100);
  }
  .subtitle {
    color: var(--color-orange-900);
  }
  .date {
    color: var(--color-orange-700);
  }
  .controls {
    background-color: var(--color-orange-200);
  }
}
.blue {
  .overlay {
    background-color: var(--color-blue-100);
  }
  .subtitle {
    color: var(--color-blue-900);
  }
  .date {
    color: var(--color-blue-700);
  }
  .controls {
    background-color: var(--color-blue-200);
  }
}
