@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.plantCard {
  position: relative;
  border-radius: 1rem;
  cursor: pointer;
  transition: box-shadow linear $default-animation-duration;
  border: 1px solid var(--color-gray-200);
  &:hover {
    border-color: transparent;
    @include boxshadow;
  }
}
.image {
  width: 100%;
  height: auto;
}
.title {
  @include font-size-large;
  font-weight: $font-weight-900;
}
