@import "/styles/variables.scss";
@import "/styles/mixins.scss";

.plantDetail {
  position: relative;
}
.image {
  position: relative;
  z-index: 1;
}
.overlay {
  position: absolute;
  z-index: -1;
  right: 0;
  top: 0;
  height: 100%;
  width: 47.5rem;
}

// colorVariant
.primary {
  background-color: var(--color-indigo-100);
}
.secondary {
  background-color: var(--color-teal-100);
}
.success {
  background-color: var(--color-green-100);
}
.warning {
  background-color: var(--color-yellow-100);
}
.danger {
  background-color: var(--color-red-100);
}
.light {
  background-color: var(--color-gray-100);
}
.dark {
  background-color: var(--color-dark-100);
}
.pink {
  background-color: var(--color-pink-100);
}
.orange {
  background-color: var(--color-orange-100);
}
.blue {
  background-color: var(--color-blue-100);
}

@media (max-width: $breakpoint-lg) {
  .overlay {
    background-color: transparent;
  }
}
