@import "/styles/variables.scss";

:root {
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-gray-50: #{$color-gray-50-dark};
  --color-gray-100: #{$color-gray-100-dark};
  --color-gray-200: #{$color-gray-200-dark};
  --color-gray-300: #{$color-gray-300-dark};
  --color-gray-400: #{$color-gray-400-dark};
  --color-gray-500: #{$color-gray-500-dark};
  --color-gray-600: #{$color-gray-600-dark};
  --color-gray-700: #{$color-gray-700-dark};
  --color-gray-800: #{$color-gray-800-dark};
  --color-gray-900: #{$color-gray-900-dark};
  --color-indigo-50: #{$color-indigo-50-dark};
  --color-indigo-100: #{$color-indigo-100-dark};
  --color-indigo-200: #{$color-indigo-200-dark};
  --color-indigo-300: #{$color-indigo-300-dark};
  --color-indigo-400: #{$color-indigo-400-dark};
  --color-indigo-500: #{$color-indigo-500-dark};
  --color-indigo-600: #{$color-indigo-600-dark};
  --color-indigo-700: #{$color-indigo-700-dark};
  --color-indigo-800: #{$color-indigo-800-dark};
  --color-indigo-900: #{$color-indigo-900-dark};
  --color-green-50: #{$color-green-50-dark};
  --color-green-100: #{$color-green-100-dark};
  --color-green-200: #{$color-green-200-dark};
  --color-green-300: #{$color-green-300-dark};
  --color-green-400: #{$color-green-400-dark};
  --color-green-500: #{$color-green-500-dark};
  --color-green-600: #{$color-green-600-dark};
  --color-green-700: #{$color-green-700-dark};
  --color-green-800: #{$color-green-800-dark};
  --color-green-900: #{$color-green-900-dark};
  --color-red-50: #{$color-red-50-dark};
  --color-red-100: #{$color-red-100-dark};
  --color-red-200: #{$color-red-200-dark};
  --color-red-300: #{$color-red-300-dark};
  --color-red-400: #{$color-red-400-dark};
  --color-red-500: #{$color-red-500-dark};
  --color-red-600: #{$color-red-600-dark};
  --color-red-700: #{$color-red-700-dark};
  --color-red-800: #{$color-red-800-dark};
  --color-red-900: #{$color-red-900-dark};
}
