@import "/styles/variables.scss";

:root[data-theme="dark"] {
  --color-white: #{$color-white-dark};
  --color-black: #{$color-black-dark};
  --color-gray-50: #{$color-gray-50-dark};
  --color-gray-100: #{$color-gray-100-dark};
  --color-gray-200: #{$color-gray-200-dark};
  --color-gray-300: #{$color-gray-300-dark};
  --color-gray-400: #{$color-gray-400-dark};
  --color-gray-500: #{$color-gray-500-dark};
  --color-gray-600: #{$color-gray-600-dark};
  --color-gray-700: #{$color-gray-700-dark};
  --color-gray-800: #{$color-gray-800-dark};
  --color-gray-900: #{$color-gray-900-dark};
  --color-indigo-50: #{$color-indigo-50-dark};
  --color-indigo-100: #{$color-indigo-100-dark};
  --color-indigo-200: #{$color-indigo-200-dark};
  --color-indigo-300: #{$color-indigo-300-dark};
  --color-indigo-400: #{$color-indigo-400-dark};
  --color-indigo-500: #{$color-indigo-500-dark};
  --color-indigo-600: #{$color-indigo-600-dark};
  --color-indigo-700: #{$color-indigo-700-dark};
  --color-indigo-800: #{$color-indigo-800-dark};
  --color-indigo-900: #{$color-indigo-900-dark};
  --color-blue-50: #{$color-blue-50-dark};
  --color-blue-100: #{$color-blue-100-dark};
  --color-blue-200: #{$color-blue-200-dark};
  --color-blue-300: #{$color-blue-300-dark};
  --color-blue-400: #{$color-blue-400-dark};
  --color-blue-500: #{$color-blue-500-dark};
  --color-blue-600: #{$color-blue-600-dark};
  --color-blue-700: #{$color-blue-700-dark};
  --color-blue-800: #{$color-blue-800-dark};
  --color-blue-900: #{$color-blue-900-dark};
  --color-teal-50: #{$color-teal-50-dark};
  --color-teal-100: #{$color-teal-100-dark};
  --color-teal-200: #{$color-teal-200-dark};
  --color-teal-300: #{$color-teal-300-dark};
  --color-teal-400: #{$color-teal-400-dark};
  --color-teal-500: #{$color-teal-500-dark};
  --color-teal-600: #{$color-teal-600-dark};
  --color-teal-700: #{$color-teal-700-dark};
  --color-teal-800: #{$color-teal-800-dark};
  --color-teal-900: #{$color-teal-900-dark};
  --color-green-50: #{$color-green-50-dark};
  --color-green-100: #{$color-green-100-dark};
  --color-green-200: #{$color-green-200-dark};
  --color-green-300: #{$color-green-300-dark};
  --color-green-400: #{$color-green-400-dark};
  --color-green-500: #{$color-green-500-dark};
  --color-green-600: #{$color-green-600-dark};
  --color-green-700: #{$color-green-700-dark};
  --color-green-800: #{$color-green-800-dark};
  --color-green-900: #{$color-green-900-dark};
  --color-red-50: #{$color-red-50-dark};
  --color-red-100: #{$color-red-100-dark};
  --color-red-200: #{$color-red-200-dark};
  --color-red-300: #{$color-red-300-dark};
  --color-red-400: #{$color-red-400-dark};
  --color-red-500: #{$color-red-500-dark};
  --color-red-600: #{$color-red-600-dark};
  --color-red-700: #{$color-red-700-dark};
  --color-red-800: #{$color-red-800-dark};
  --color-red-900: #{$color-red-900-dark};
  --color-orange-50: #{$color-orange-50-dark};
  --color-orange-100: #{$color-orange-100-dark};
  --color-orange-200: #{$color-orange-200-dark};
  --color-orange-300: #{$color-orange-300-dark};
  --color-orange-400: #{$color-orange-400-dark};
  --color-orange-500: #{$color-orange-500-dark};
  --color-orange-600: #{$color-orange-600-dark};
  --color-orange-700: #{$color-orange-700-dark};
  --color-orange-800: #{$color-orange-800-dark};
  --color-orange-900: #{$color-orange-900-dark};
  --color-yellow-50: #{$color-yellow-50-dark};
  --color-yellow-100: #{$color-yellow-100-dark};
  --color-yellow-200: #{$color-yellow-200-dark};
  --color-yellow-300: #{$color-yellow-300-dark};
  --color-yellow-400: #{$color-yellow-400-dark};
  --color-yellow-500: #{$color-yellow-500-dark};
  --color-yellow-600: #{$color-yellow-600-dark};
  --color-yellow-700: #{$color-yellow-700-dark};
  --color-yellow-800: #{$color-yellow-800-dark};
  --color-yellow-900: #{$color-yellow-900-dark};
  --color-pink-50: #{$color-pink-50-dark};
  --color-pink-100: #{$color-pink-100-dark};
  --color-pink-200: #{$color-pink-200-dark};
  --color-pink-300: #{$color-pink-300-dark};
  --color-pink-400: #{$color-pink-400-dark};
  --color-pink-500: #{$color-pink-500-dark};
  --color-pink-600: #{$color-pink-600-dark};
  --color-pink-700: #{$color-pink-700-dark};
  --color-pink-800: #{$color-pink-800-dark};
  --color-pink-900: #{$color-pink-900-dark};
}
