// COLORS
$color-white: #ffffff;
$color-black: #151515;
$color-gray-50: #fafafa;
$color-gray-100: #f2f2f2;
$color-gray-200: #ececec;
$color-gray-300: #cccfd2;
$color-gray-400: #9fa4a9;
$color-gray-500: #6f7479;
$color-gray-600: #595d62;
$color-gray-700: #2c3038;
$color-gray-800: #282b2c;
$color-gray-900: #1b1e20;
$color-white-dark: #151515;
$color-black-dark: #ffffff;
$color-gray-900-dark: #fafafa;
$color-gray-800-dark: #f2f2f2;
$color-gray-700-dark: #ececec;
$color-gray-600-dark: #cccfd2;
$color-gray-500-dark: #9fa4a9;
$color-gray-400-dark: #6f7479;
$color-gray-300-dark: #595d62;
$color-gray-200-dark: #2c3038;
$color-gray-100-dark: #282b2c;
$color-gray-50-dark: #1b1e20;
$color-indigo-50: #ebe8ff;
$color-indigo-100: #d4cff7;
$color-indigo-200: #9486ec;
$color-indigo-300: #6a53ff;
$color-indigo-400: #5339fd;
$color-indigo-500: #4329f7;
$color-indigo-600: #3418e4;
$color-indigo-700: #2610bb;
$color-indigo-800: #1e0c93;
$color-indigo-900: #120564;
$color-indigo-50-dark: #120564;
$color-indigo-100-dark: #1e0c93;
$color-indigo-200-dark: #2610bb;
$color-indigo-300-dark: #3418e4;
$color-indigo-400-dark: #4329f7;
$color-indigo-500-dark: #5339fd;
$color-indigo-600-dark: #6a53ff;
$color-indigo-700-dark: #9486ec;
$color-indigo-800-dark: #d4cff7;
$color-indigo-900-dark: #ebe8ff;
$color-green-50: #eeffde;
$color-green-100: #e5ffcc;
$color-green-200: #d7ffb0;
$color-green-300: #bdfe7c;
$color-green-400: #a4f752;
$color-green-500: #84e820;
$color-green-600: #72d113;
$color-green-700: #56a209;
$color-green-800: #478d01;
$color-green-900: #376e00;
$color-green-50-dark: #376e00;
$color-green-100-dark: #478d01;
$color-green-200-dark: #56a209;
$color-green-300-dark: #72d113;
$color-green-400-dark: #84e820;
$color-green-500-dark: #a4f752;
$color-green-600-dark: #bdfe7c;
$color-green-700-dark: #d7ffb0;
$color-green-800-dark: #e5ffcc;
$color-green-900-dark: #eeffde;
$color-red-50: #fed0d0;
$color-red-100: #ffacac;
$color-red-200: #f77e7e;
$color-red-300: #e34b4b;
$color-red-400: #dc2c2c;
$color-red-500: #c32434;
$color-red-600: #a61e2b;
$color-red-700: #891621;
$color-red-800: #6f111a;
$color-red-900: #561017;
$color-red-50-dark: #561017;
$color-red-100-dark: #6f111a;
$color-red-200-dark: #891621;
$color-red-300-dark: #a61e2b;
$color-red-400-dark: #c32434;
$color-red-500-dark: #dc2c2c;
$color-red-600-dark: #e34b4b;
$color-red-700-dark: #f77e7e;
$color-red-800-dark: #ffacac;
$color-red-900-dark: #fed0d0;

// FONT WEIGHT
$font-weight-200: 200;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;
$font-weight-800: 800;
$font-weight-900: 900;

// BREAKPOINTS
$breakpoint-lg: 1280px;
$breakpoint-sm: 768px;

// LAYOUT
$toastContainer-width: 256px;
